html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #E6E6E6;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fbc02d;
    background-color: transparent;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 100%
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: 90%;
    }

    .footer {
        background-color: #555;
        color: white;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
    }
}

/*Holds all image options in one container*/
.bigcontainer {
    object-position: right;
    margin-top: -220px;
}

/*Overlay container*/
.container {
    position: relative;
    left: 1100px;
    max-width: 300px;
    margin-bottom: 30px;
}

/*image container*/
.container img {
    border-radius: 50%;
    width: auto;
    height: auto;
}

/*button specs*/
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

/*button color*/
.container .btn:hover {
    background-color: black;
}

/*Patriot web title*/
.greetingHeader {
    font-size: 75px;
    font-family: "Arial Narrow", serif;
    color: #1b5e20;
}

/*Text under Patriot web title*/
.greetingMessage {
    font-size: 25px;
    font-family: "Arial Narrow", serif;
    color: #5F4600;
}

.main {
    height: 100%;
}

.bg1 {
    position: center;
    padding-bottom: 70px;
    /*Needed for navbar-fixed-top*/
    padding-top: 175px;
    width: 95%;
    margin: 0 auto;
}

/*Hack to compensate for absolute footer*/
@media screen and (max-width: 767px) {
    .bg1 {
        margin-bottom: 100px;
    }
}

/*Overlay container*/
.image-container {
    position: relative;
    margin-bottom: 30px;
    margin-top: 5%;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
}

/*image container*/
.image-container img {
    border-radius: 10%;
    width: 90%;
    border: 0px solid rgb(248, 248, 127);
}

/*button specs*/
.image-container .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

/*button color*/
.main_nav_container:hover img {
    border: 3px solid rgb(248, 248, 127);
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -ms-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
    -webkit-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    opacity: 0.4;
    backface-visibility: hidden;
}

.main_nav_container {
    border-radius: 10%;
    width: 100%;
    border: 0px solid rgb(248, 248, 127);
}

.overlay_text_container {
    transition: .5s ease;
    text-align: center;
    width: 90%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 8px;
}

.main_nav_container:hover .overlay_text_container {
    opacity: 1;
}

.overlay_text {
    border-radius: 10%;
    color: #003300;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
}

.picture-label {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    font-family: "Arial Narrow", serif;
    padding-top: 10px;
}

.footer {
    background-color: #555;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.panel {
    border: 1px solid black;
    padding: 2em;
    max-height: 500px;
    margin-top: 10%;
    overflow-y: scroll;

}

.panel.registerPanel {
    height: 500px;
}

.otherpanel {
    border: 1px solid black;
    background: white;
    padding: 2em;
    height: 500px;
    margin-top: -5%;

}

.gmu {
    margin-left: 40px;
}

/*Footer*/
.address {
    float: right;
    text-align: right;
    text-align: -moz-right;
    text-align: -webkit-right;
    font-size: small;
    /*    color:#9d9d9d;*/
}

.social {
    float: left;
}

/*Schedule table*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.myClass {
    display: none;
    min-height: 150px;
}

#userName {
    color: #9d9d9d;
}

.rowContent {
    margin-top: 30px;
}

.fa {
    padding: 20px 40px 20px 20px;
    font-size: 25px !important;
    width: 50px;
    text-decoration: none;
    margin: 5px 4px;
}

.fa:hover {
    background: #B2BABB;
    color: #1b5e20;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

@media screen and (max-width: 767px) {
    .fa {
        padding: 10px 10px 10px 10px;
        font-size: 15px !important;
    }
}

/*Search bar*/
* {
    box-sizing: border-box;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#searchList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#searchList li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#searchListAlreadyTakenClasses li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: red;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#searchList li a:hover:not(.header) {
    background-color: #eee;
}

#sectionList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.termpanel {
    display: block;
    background: white;
    height: 150px;
    border: 1px solid black;
    padding: 2em;
}

/*View Schedule*/
.schedule {
    background: white;
    margin: 3% 5%;
}

.termselector {
    width: 250px;
    /* Will auto center */
    margin-left: auto;
    margin-right: auto;
}

.panelschedule {
    background: white;
}

.highlight {
    background-color: #fbc02d !important;
}

.register_button {
    background-color: #1b5e20;
    color: white;
    border-radius: 10%;
    padding: 8px;
    font-family: "Arial Narrow", serif;
    font-size: 16px;
}

.register_button:hover {
    background-color: #c49000;
    color: whitesmoke;
}

.disabled {
    color: #1b5e20 !important;
    font-style: oblique !important;
    font-weight: bold !important;
}

.registerSection h3 {
    font-weight: bold;
    font-size: 28px;
    font-family: "Arial Narrow", serif;
}

.navbar, .footer {
    font-family: "Arial Narrow", serif;
}

.personalinformation {
    width: 33%;
    background: #003300;
    color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin: 18px;
    font-family: "Arial Narrow", serif;
}

.info-header {
    position: relative;
    overflow: hidden;
}

.info-header img {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    margin: 16px 40px;
    float: left;
}

.info-header h2 {
    font-weight: lighter;
    font-size: 28px;
    display: flex;
    float: left;
    text-align: center;
    line-height: 100%;
    margin: 40px 10px;
}

.personalinformation_divider {
    height: 2px;
    background-color: #c49000;
    margin: 10px;
}

.primaryaddress {
    overflow: hidden;
    margin: 16px 8px 8px;
    align-items: center;
}

.primaryaddress img {
    height: 40px;
    width: 40px;
    float: left;
}

.primaryaddress p {
    font-size: 18px;
    float: left;
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.primaryphone {
    overflow: hidden;
    margin: 16px 8px 8px;
    align-items: center;
}

.primaryphone img {
    height: 25px;
    width: 25px;
    float: left;
    margin-left: 10px;
    margin-right: 8px;
}

.primaryphone p {
    font-size: 18px;
    float: left;
    display: flex;
    align-items: center;
}

.primaryemail {
    overflow: hidden;
    margin: 16px 8px 8px;
    align-items: center;
}

.primaryemail img {
    height: 20px;
    width: 25px;
    float: left;
    margin-left: 10px;
    margin-right: 8px;
}

.primaryemail p {
    font-size: 18px;
    float: left;
}

.classifications {
    overflow: hidden;
    margin: 16px 8px 8px;
    align-items: center;
}

.classifications p {
    font-size: 18px;
    margin-left: 25px;
    margin-right: 8px;
}

.item {
    float: left;
}

.itemdetail {
    float: right;
    padding-right: 8px;
    color: #fbc02d;
}

.additionalinformation {
    width: 60%;
    background: #003300;
    color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin: 18px;
    font-family: "Arial Narrow", serif;
}

.additionalinformation h1 {
    font-size: 28px;
    margin-left: 25px;
}

.additionalinformation li {
    font-size: 18px;
}

.additionalinformation a {
    color: whitesmoke;
}

.additionalinformation a:hover {
    color: #c49000;
}

.additional-address-type {
    font-size: 16px;
    color: #fbc02d;
    padding-left: 20px;
}

.studentservices-content {
    top: 50%;
    left: 5%;
    width: 90%;
    height: auto;
    background: #003300;
    color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    font-family: "Arial Narrow", serif;
    padding: 16px;
}

.studentservices-content p {
    font-size: 18px;
    margin-right: 8px;
}

.studentservices-content table, th, td {
    border: 1px solid #003300;
    border-collapse: collapse;
}

.studentservices-content th, td {
    padding: 16px 8px;
}

table#t01 {
    width: 100%;
    background-color: #f1f1c1;
    margin-top: 16px;
}

table#t01 tr:nth-child(odd), tr:nth-child(even) {
    background-color: lightgray;
    color: #003300;
}

table#t01 th {
    color: black;
    background-color: #c49000;
}

.studentservices-content button {
    background-color: #9d9d9d;
    color: ghostwhite;
}
